<div>
  <h3><%= @inventory.name %></h3>
</div>

<%= link_to 'Add food', new_inventory_inventory_food_path(@inventory) %>

<table>
	<thead>
	<tr>
		<th>Food</th>
		<th>Quantity</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
  <% @inventory.inventory_foods.includes([:food]).each do |food| %>
	<tr>
		<td><%= food.food.name %></td>
		<td><%= "#{food.quantity} #{food.food.measurement_unit}" %></td>
		<td>
      <%= link_to 'Edit', edit_inventory_inventory_food_path(@inventory, food) %>
      <%= button_to 'Remove', inventory_inventory_food_path(@inventory, food), method: :delete %>
    </td>
	</tr>
  <% end %>
	</tbody>
</table>