<div class="container d-flex flex-column border border-dark bg-light shadow rounded align-items-center p-5">
<h1>Shopping list</h1>
<div class="d-flex justify-content-around">
<div class="pe-5">
<p>Amount of food to buy: <%= @foods.count %> items</p>
<p>Total value of food needed: <%= @prices %></p>
</div>
<div class="ps-5">
 <p>Recipe: <%= link_to @recipe.name, recipe_path(@recipe.id)%></p>
 <p>Inventory: <%= link_to @inventory.name, inventory_path(@inventory.id)%></p>
</div>
</div>

<div>
  <table class="table">
    <thead>
      <tr>
        <th class="col" >Food</th>
        <th class="col" >Quantity</th>
        <th class="col" >Total value</th>
      </tr>
    </thead>
    <tbody>
    <% @foods.each do |food| %>
      <tr>
        <td><%= food.food.name %></td>
        <td><%= "#{food.quantity} #{food.food.measurement_unit}" %></td>
        <td><%=  food.food.price * food.quantity  %></td>
        <% end %>
      </tr>
    </tbody>
  </table>
</div>
</div>