<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
</head>
<body>
    <section class="users_list">
      <h1>Recipes List</h1>
    <div>
    <%= link_to 'Create a Recipe', new_recipe_path %> 
    </div>
      <% flash.each do |type, msg| %>
        <%= content_tag :div, msg, class: "#{type} alert" %>
      <% end %>
      <%= render partial: 'recipe', collection: @recipes %>
    </section>
</body>
</html>
