<h2><%= @recipe.name %></h2>
<p>Preparation Time: <%= @recipe.preparation_time %></p>
<p>Cooking Time: <%= @recipe.cooking_time %></p>
<p><%= @recipe.description %></p>

<%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe) %>

<button id="myBtn">Generate Shopping List</button>
<% if @recipe.public %>
  <%= button_to "Private", toggle_public_path(@recipe.id), method: :patch  %>
<% else %>
  <%= button_to "Public", toggle_public_path(@recipe.id), method: :patch  %>
<% end %>

<div>
  <table>
    <thead>
      <tr>
        <th >Food</th>
        <th>Quantity</th>
        <th>Value</th>
        <% if can? :manage, @recipe %>
        <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>

    <% @recipe.recipe_foods.includes([:food]).each do |food| %>
      <tr>
        <td><%= food.food.name %></td>
        <td><%= "#{food.quantity}" %></td>
        <td><%= "#{food.food.price}" %></td>
        <% if can? :manage, @recipe %>
        <td>
          <%= link_to "Modify", edit_recipe_recipe_food_path(@recipe, food) %>
          <%= button_to "Delete", recipe_recipe_food_path(@recipe, food), method: :delete %>
        </td>
        <% end %>
      </tr>
      <% end %>

      <%= content_tag :div, class: "modal fade", id: dom_id(@recipe, :modal) do %>
        <div class="modal-dialog" >
          <div class="modal-content">
            Lorem ipsum...
          </div>
        </div>
      <% end %>

    </tbody>
  </table>
</div>

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h3>Generate Shopping List<h3>
    <p>Choose an inventory to use</p>
    <%= form_with url: "/shopping_list", method: :get do |f| %>
      <%= f.collection_select(:id, current_user.inventories, :id, :name ) %>
      <%= f.hidden_field :recipe_id, value: @recipe.id %>
      <%= f.submit "Generate" %>
    <% end %>
  </div>
</div>

<%= javascript_include_tag 'modal.js' %>